{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page Not Found</h1>

    <p>
        The requested page couldn't be located. Checkout for any URL misspelling or <a href="{{ path('swc_forum_homepage') }}">return to the homepage</a>.
    </p>
{% endblock %}