{% extends 'SwcForumBundle:Default:forum_template.html.twig' %}

{% block body %}
    <div class="row">
    {% if forum is null %}
        <div class="error-message">NOT FOUND</div>
    {% else %}
        <div class="large-12 medium-12 columns">
            <div class="row">
                <div class="large-12 medium-12 columns">
                    {{ forum.getName() }}
                </div>
            </div>
        {% for topic in forum.getTopics() %}
            <div class="row">
                <div class="large-12 medium-12 columns">
                    <a href="{{ path('swc_forum_topic', {'forum': topic.getForum().getCleanName(), 'topic': topic.getCleanName()}) }}">{{ topic.getName() }}</a>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    </div>
{% endblock %}