{% extends '::base.html.twig' %}

{% block body %}
    {% for forum in forums %}
        <div style="width:100%; background: #F5F5F5; color #333;">
            <a href="{{ path('swc_forum_board', {'forum': forum.getCleanName()}) }}">{{ forum.getName() }}</a>
        </div>
    {% endfor %}
{% endblock %}