{% extends 'SwcForumBundle:Default:forum_template.html.twig' %}

{% block body %}
    <div class="row">
    {% for forum in forums %}
        <div class="large-12 medium-12 columns">
            <a href="{{ path('swc_forum_board', {'forum': forum.getCleanName()}) }}">{{ forum.getName() }}</a>
        </div>
    {% endfor %}
    </div>
{% endblock %}