{% extends 'SwcForumBundle:Default:forum_template.html.twig' %}

{% block body %}
    <div class="row">
    {% if topic is null %}
        <div class="error-message">NOT FOUND</div>
    {% else %}
        <div class="large-12 medium-12 columns">
            <div class="row">
                <div class="large-12 medium-12 columns">
                    {{ topic.getName() }}
                </div>
            </div>
        {% for post in topic.getPosts() %}
            <div class="row">
                <div class="large-12 medium-12 columns">
                    <a href="{{ path('swc_forum_post', {
                        'forum': post.getTopic().getForum().getCleanName(),
                        'topic': post.getTopic().getCleanName(),
                        'post': post.getTitleClean()
                    }) }}">
                        {{ post.getTitle() }}
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    </div>
{% endblock %}